.display {
    font-size: 16px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #0066ff ;
    border-radius: 10px;
    background-color: #e6faff;
}

.btn-outline-secondary:checked {
    background-color: green;
    color: white;
}

.card {
    max-width: 400px;
    margin: auto;
}

.temperature-error {
    color: red;
    font-weight: bold;
}

/* .active {
    background-color: green !important;
    color: white;
} */


  #fan_image {
      transition: transform 0.5s ease-in-out;
  }

  .rotate {
      animation: spin 2s linear infinite;
  }

  @keyframes spin {
      100% {
          transform: rotate(360deg);
      }
  }